*{
	margin:0;
	padding:0;
}
body{
	height:100%;
	width:100%;
	background-image:url("../img/fon.jpg");
    background-size:100% 100%;
    font-family:mine;
}
@font-face{
  src:url("../10923.otf");
  font-family:mine;
}
.size{
    font-size:45px;
}
.radius{
    border-radius:10%;
}
.float{
    float:left;
}
.m-l-1{
    margin-left:170%;
}
.m-l-2{
    margin-left:220%;
}
